%ul.recently_submited
  - Website.recently_submited(3).each do |website|
    %li
      %a{:href => website_url(website)}
        - if website.screenshots.empty?
          = image_tag('/images/default_website_t.png')
        - else
          = image_tag website.screenshots.first.photo.url(:small)
        = website.name
      /- if current_user and current_user != person
      /  - unless current_user.follows?(person)
      /   = link_to 'Add as contact', follow_person_path(person), :method => :post
.see_all
  = link_to "See All", websites_path(:type => "latest")