- title "Comments"
- section "comments"

%h2
  Comment Removed

%p
  This comment was removed by the Administration due one or more of the following itens:

%ul
  %li Wrong Information
  %li Offensive Content
  %li Duplication
