h2 { margin: 20px; font-size: 30px; letter-spacing: -1.05pt; font-weight: normal; }
ul li h4 {  margin: 0; color: #E91C6B; font-size: 16px; letter-spacing: -0.6pt;  font-weight: normal; }
h3 { font-size: 26px; margin: 0; line-height: 26px;  font-weight: normal; }
.block { overflow: hidden; }

