%p 
  Willing to be consistent to the <strong>The Usability Page</strong> principles, our Terms of Use Aggreement are:
%ul
  %li Simple
  %li Fast to read 
  %li Easy to understand
%p
  If you have any doubt 
  = link_to 'Contact Us', contactus_path