Added to
- if(@listbooks.status == 1)
  Finished
- if(@listbooks.status == 2)
  Reading
- if(@listbooks.status == 3)
  Reference
- if(@listbooks.status == 4)
  Want to Read
- if(@listbooks.status == 5)
  Abandoned						
List

