- title 'Recover password'
- section 'misc'

- content_for :sidebar do
  = render :partial => 'people/welcome', :layout => '/layouts/sidebox', :locals => { :title => 'Welcome!' }  

.one-column
  %h2.title
    Recover Password
  
  %p.info
    Insert the email you registered with and we will email you the instructions to reset your password.
  
  - form_tag(password_resets_path, :class => "frm") do |f|
    %p
      = label_tag :email
      = text_field_tag :email, nil, :class => 'required validate-email'
    %p
      = submit_tag 'Submit'
