%p== Hello #{@email}!

%p==  #{@email} left you a message on The Usability Page:

%p= @body

%p 
  --
  The Usability Page Team 

%p== This message was intended for #{@email}. If you do not wish to receive this type of email from The Usability Page in the future, go to your profile and configure your notification settings.


