%p
  A request to reset your password has been made.  
  If you did not make this request, simply ignore this email.  
  If you did make this request just click the link below:

%p  
  =link_to nil, url_for(:controller => 'password_resets', :action => :edit, :id => @user.perishable_token)
  
%p
  If the above URL does not work try copying and pasting it into your browser.  
  If you continue to have problem please feel free to contact us.  

%p 
  --
  The Usability Page Team 

%p== This message was intended for #{@user.email}. If you do not wish to receive this type of email from The Usability Page in the future, go to your profile and configure your notification settings.


