<p>Hello <%=h @vote.review.person.name %>!</p>

<p>Just to let you know that someone voted on your <%= link_to 'review', review_url(@vote.review) %> on <%= link_to "The Usability Page", root_url %>.</p>
   
<p>
  ---<br />
  The Usability Page Team
</p>

<p>This message was intended for <%=h @vote.review.person.email %>. If you do not wish to receive this type of email from The Usability Page in the future, go to your profile and configure your notification settings.</p>
