- title 'Removed Review'
- section 'reviews'

.one-column
  %h2
    Review Removed

  %p
    This Review was removed by the Administration due one or more of the following itens:

  %ul
    %li Wrong Information
    %li Offensive Content
    %li Duplication